%h2 Sign up(2/3)
= form_for @profile do |f|
  = render "devise/shared/error_messages", resource: @profile
  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :birth_year
    %br/
    = f.text_field :birth_year
  .field
    = f.label :birth_month
    %br/
    = f.text_field :birth_month
  .field
    = f.label :birth_day
    %br/
    = f.text_field :birth_day
  
  .actions
    = f.submit "Next"