.signup-container
  %header.signup-header
    %h1
      = link_to root_path, class: 'signup-header__logo' do
        = image_tag 'logo.png', size: '140x40', alt: 'ロゴ'

  .signup-content
    %h2.signup-title 新規会員登録
    .registration
      = link_to 'メールアドレスで登録する', new_user_registration_path, class: 'registration__button--email'
      - if Rails.env == 'development'
        = link_to 'Facebookで登録する', user_facebook_omniauth_authorize_path, method: :post, class: 'registration__button--facebook'
        = link_to 'Twitterで登録する', user_twitter_omniauth_authorize_path, method: :post, class: 'registration__button--twitter'
        = link_to 'Googleで登録する', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'registration__button--google'
