.main__content
  .users__info
    .users__info__image
      = image_tag "mypage_profile_background.jpg", size: "700x206", class: "users__info__image--background"
      = image_tag "mypage_user_pic_sample.png",    size: "85x85",   class: "users__info__image--profile__icon"
      = link_to "#", class: "users__info__image__name" do
        .users__info__image__name--title
          = @nickname

        .users__products
          .users__products--status
            評価
            .users__products--status__num
              13
          .users__products--number
            出品数
            .users__products--number__num
              = @products.length

  .notification__tabs
    %input#news{checked: "checked", name: "tabs1", type: "radio"}
    %label.tab_item{for: "news"} 
      お知らせ
    %input#todo{name: "tabs1", type: "radio"}
    %label.tab_item{for: "todo"}
      やることリスト

    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__image
          = image_tag "logo_blue.png", size: "45x45", class: "icon-image" 
          %section.tab__content__description__news 
            新型コロナウイルスの感染拡大に伴う一部配送への影響について
            %section.tab__content__description__news--date
            %i.far.fa-clock 
              1日前
        %section.tab__content__description__details
          %i.fa.fa-angle-right

    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__image
          = image_tag "logo_blue.png", size: "45x45", class: "icon-image" 
          %section.tab__content__description__news 
            【注意喚起】厚生労働省より配布される布マスクの出品について
            %section.tab__content__description__news--date
            %i.far.fa-clock 
              5日前
        %section.tab__content__description__details
          %i.fa.fa-angle-right

    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__image
          = image_tag "logo_blue.png", size: "45x45", class: "icon-image" 
          %section.tab__content__description__news 
            《500円分のポイントが必ずもらえる》友達招待のお知らせ
            %section.tab__content__description__news--date
            %i.far.fa-clock 
              8日前
        %section.tab__content__description__details
          %i.fa.fa-angle-right

    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__image
          = image_tag "logo_blue.png", size: "45x45", class: "icon-image" 
          %section.tab__content__description__news 
            友達と一緒にポイントGETできる「友達招待」のお知らせ
            %section.tab__content__description__news--date
            %i.far.fa-clock 
              11日前
        %section.tab__content__description__details
          %i.fa.fa-angle-right

    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__image
          = image_tag "logo_blue.png", size: "45x45", class: "icon-image" 
          %section.tab__content__description__news 
            新型コロナウイルスの感染拡大に伴う再配達および集荷予約について
            %section.tab__content__description__news--date
            %i.far.fa-clock 
              15日前
        %section.tab__content__description__details
          %i.fa.fa-angle-right
          
    #news.tab__content
      %li.tab__content__description
        %section.tab__content__description__more
          = link_to '#', class: 'btn-icon' do
            一覧を見る

    #todo.tab__content
      .tab__content__description
      = image_tag "logo_gray.jpg", size: "70x70", class: "all-image" 
      %p.c-txtsp 現在やることリストはありません   

  .trading
    .trading__title 
      購入した商品
      
    .trading__tabs
      %input#now_dealing{checked: "checked", name: "tabs2", type: "radio"}
      %label.tab_exhibition{for: "now_dealing"} 
        取引中

      %input#past_transaction{name: "tabs2", type: "radio"}
      %label.tab_exhibition{for: "past_transaction"} 
        過去の取引

      #now_dealing.tab__content.content1
        - if @dealing_products.present?
          - @dealing_products.each do |product|
            %li
            .tab__content__list
              = link_to product_path(product.id), class: "product__list__detail", method: :get do
                .tab__content__list__products
                  .tab__content__list__products--image
                    = image_tag product.product_images.first.url, size: "60x50", class: "product__image"

                  .tab__content__list__products--text
                    .tab__content__list__products--text__name
                      = product.name

                    .tab__content__list__products--text__btn
                      .tab__content__list__products--text__btn--favorite__btn
                        = icon('fa', 'star')
                        0
                      .tab__content__list__products--text__btn--comment__btn
                        = icon('fas', 'comment')
                        0
                      .tab__content__list__products--text__btn--status__dealing
                        取引中

          = paginate @dealing_products

        - else
          .tab__content__noproducts
            = image_tag "logo_gray.jpg", size: "70x70", class: "logo_gray_image"  
            %p.c-txtsp 取引中の商品はありません

      #past_transaction.tab__content.content2
        - if @orders.present?
          - @orders.each do |order|
            %li
            .tab__content__list
              = link_to product_path(order.product.id), class: "product__list__detail", method: :get do
                .tab__content__list__products
                  .tab__content__list__products--image
                    = image_tag order.product.product_images.first.url, size: "60x50", class: "product__image"

                  .tab__content__list__products--text
                    .tab__content__list__products--text__name
                      = order.product.name

                    .tab__content__list__products--text__btn
                      .tab__content__list__products--text__btn--status__completed
                        取引完了

          = paginate @orders

        - else
          .tab__content__noproducts
            = image_tag "logo_gray.jpg", size: "70x70", class: "logo_gray_image"  
            %p.c-txtsp 過去に取引した商品はありません