.signup-container
  %header.signup-header
    %h1
      = link_to root_path, class: 'signup-header__logo' do
        = image_tag 'logo.png', size: '140x40', alt: 'ロゴ'

  .signup-content
    - if flash[:alert]
      %p.signup-form__error-messages
        = flash[:alert]

    .registration
      %p アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', select_sign_up_path, class: 'registration__button'
    - if Rails.env == 'development'
      .registration
        = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class: 'registration__button--facebook'
        = link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path, method: :post, class: 'registration__button--twitter'
        = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'registration__button--google'

    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'signup-form' }) do |f|
      .signup-form__field
        = f.label :email, class: 'signup-form__label'
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'signup-form__email-field'
      .signup-form__field
        = f.label :password, class: 'signup-form__label'
        = f.password_field :password, autocomplete: 'current-password', class: 'signup-form__password-field'
      - if devise_mapping.rememberable?
        .signup-form__field
          .signup-form__checkbox-field
            = f.check_box :remember_me, class: 'signup-form__checkbox'
            = f.label :remember_me, class: 'signup-form__label'
      .signup-form__actions
        = f.submit 'ログイン', class: 'signup-form__submit'

