.buy__product
  .buy__product__header
    = link_to image_tag("logo.png", size: "185x50", class: "buy__product__header--image"), root_path

  .buy__product__container
    .buy__product__container--head
      購入内容の確認

    .buy__product__container--product__box
      .buy__product__container--product__box--image
        = image_tag(@product.product_images.first.url, size: "90x70", class: "product__image")
      .buy__product__container--product__box--info
        .buy__product__container--product__box--info__name
          = @product.name
        .buy__product__container--product__box--info__price
          = number_to_currency(@product.price, format: "%u%n", unit: "¥", precision: 0)
          %span.product__shipping__fee.f14.bold
            = @product.derivery_fee_payer.derivery_fee_payer

    %br
    .buy__product__container--user__info
      .buy__product__container--user__info__inner
        .buy__product__container--user__info__inner--price
          .buy__product__container--user__info__inner--price__title
            支払い金額
          .buy__product__container--user__info__inner--price__amount
            = number_to_currency(@product.price, format: "%u%n", unit: "¥", precision: 0)

        %br
        .buy__product__container--user__info__inner--payment
          .buy__product__container--user__info__inner--payment__head
            .buy__product__container--user__info__inner--payment__head--title
              支払い方法
            .buy__product__container--user__info__inner--payment__head--edit
              - if @default_card_information.present?
                .card__edit
                  = link_to "変更する", card_path, class: "card_registration"
          
          .buy__product__container--user__info__inner--payment__card
            - if @default_card_information.present?
              .payment__card
                .payment__card__number
                  %h3 クレジットカード
                  = "**** **** **** " + @default_card_information.last4
                .payment__card__expiration
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = "有効期限 #{exp_month + " / " + exp_year}"
                  %br
                  = image_tag "#{@card_src}", alt: @card_brand, size: "35x25", id: "card_image"
            - else
              .card__register
                = icon('fas', 'plus-circle')
                = link_to "登録してください", new_card_path, class: "card_registration"

        %br
        .buy__product__container--user__info__inner--shipping__address
          %h3 配送先
          .user__address
            = "〒 #{current_user.shipping_address.post_code.to_s.insert(3,"-")}"
            %br
            = current_user.shipping_address.prefecture
            = current_user.shipping_address.city
            = current_user.shipping_address.address_number
            = current_user.shipping_address.building_name
            %br
            = current_user.shipping_address.address_family_name
            = current_user.shipping_address.address_first_name
          %br

        .buy__product__container--user__info__inner--purchase__btn
          - if @default_card_information.present?
            = form_tag(pay_purchase_path(@product), action: :pay, method: :post) do
              %button.available 購入する
          - else
            = form_tag(pay_purchase_path(@product), action: :pay, method: :post) do
              %button.unavailable 購入する

  %br
  .buy__product__footer
    .buy__product__footer__lists
      .buy__product__footer__lists--1
        プライバシーポリシー
      .buy__product__footer__lists--2
        FURIMA利用規約
      .buy__product__footer__lists--3
        特定商取引に関する表記

    .buy__product__footer__lists--copyright
      © FURIMA,Inc.