= render "products/header"
= render 'users/mypage_side_nav'

.card__confirmation__container
  .card__confirmation__container__head
    支払い方法

  .card__confirmation__container__info
    .card__confirmation__container__info--title
      クレジットカード情報
    .card__confirmation__container__info--number
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year

  .card__confirmation__container__btn
    = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
      %input{ type: "hidden", name: "card_id", value: ""}
      %button 削除する

= render 'products/footer'