.banner
  .banner-box
    .banner-box__tittle
      だれでもかんたん、人生を変えるフリマアプリ
    .banner-box__text
      今すぐ無料ダウンロード！
    .banner-icon
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "banner-icon__app"
      = link_to "#", class: "main-btn__google" do
        = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "banner-icon__google"
.footer
  .footer-box
    .box-list
      %h2.box-list__tittle FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    .box-list
      %h2.box-list__tittle FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    .box-list
      %h2.box-list__tittle ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .footer-icon
    = link_to "#" do
      = image_tag "logo-white.png", class: "banner-icon__app"
    %p © FURIMA
  
  .exhibition
    = link_to "/products/new" do
      .exhibition-btn
        .exhibition-btn__text
          出品する
        .exhibition-btn__icon 
          = image_tag "icon_camera.png", class: "icon_camera"
