.header
  .header-content
    .header-block
      .header-block__logo
        = link_to "#", class: "header-block__logo-item" do
          = image_tag "logo.png", size: "140x40", alt: "ロゴ"
      .search
        %input.search-box{ placeholder: "キーワードから探す" }
        %button.search-btn{ type: "submit" }
          = image_tag "icon-search 1.png", class: "serch-icon"
    .nav-box
      .nav-left
        .nav-category
          %ul
            %li
              = link_to "#" do
                カテゴリー
              %ul
                %li
                  = link_to "#" do
                    レディース
                  %ul
                    %li
                      = link_to "#" do
                        トップス
                      %ul
                        %li
                          = link_to "#" do
                            Tシャツ/カットソー（半袖/袖なし）
                        %li
                          = link_to "#" do
                            Tシャツ/カットソー（七分/長袖）
                        %li
                          = link_to "#" do
                            シャツ/ブラウス（半袖/袖なし）
                        %li
                          = link_to "#" do
                            シャツ/ブラウス（七分/長袖）
                        %li
                          = link_to "#" do
                            ポソシャツ
                        %li
                          = link_to "#" do
                            キャミソール
                        %li
                          = link_to "#" do
                            タンクトップ
                        %li
                          = link_to "#" do
                            ホルターネック
                        %li
                          = link_to "#" do
                            ニット/セーター
                        %li
                          = link_to "#" do
                            チュニック
                        %li
                          = link_to "#" do
                            カーディガン/ボレロ
                        %li
                          = link_to "#" do
                            アンサンブル
                        %li
                          = link_to "#" do
                            ベスト/ジレ
                        %li
                          = link_to "#" do
                            パーカー
                        %li
                          = link_to "#" do
                            トレーナー/スウェット
                        %li
                          = link_to "#" do
                            ベアトップ/チューブトップ
                        %li
                          = link_to "#" do
                            ジャージ
                        %li
                          = link_to "#" do
                            カーディガン/ボレロ
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        ジャケット/アウター
                      %ul
                        %li
                          = link_to "#" do
                            テーラージャケット
                        %li
                          = link_to "#" do
                            ノーカラージャケット
                        %li
                          = link_to "#" do
                            Gジャン/デニムジャケット
                        %li
                          = link_to "#" do
                            レザージャケット
                        %li
                          = link_to "#" do
                            ダウンジャケット
                        %li
                          = link_to "#" do
                            ライダースジャケット
                        %li
                          = link_to "#" do
                            ミリタリージャケット
                        %li
                          = link_to "#" do
                            ダウンベスト
                        %li
                          = link_to "#" do
                            ジャンパー/ブルゾン
                        %li
                          = link_to "#" do
                            ポンチョ
                        %li
                          = link_to "#" do
                            ロングコート
                        %li
                          = link_to "#" do
                            トレンチコート
                        %li
                          = link_to "#" do
                            ダッフルコート
                        %li
                          = link_to "#" do
                            ピーコート
                        %li
                          = link_to "#" do
                            チェスターコート
                        %li
                          = link_to "#" do
                            スタジャン
                        %li
                          = link_to "#" do
                            毛皮/ファーコート
                        %li
                          = link_to "#" do
                            スプリングコート
                        %li
                          = link_to "#" do
                            スカジャン
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        パンツ
                      %ul
                        %li
                          = link_to "#" do
                            デニムパンツ
                        %li
                          = link_to "#" do
                            ショートパンツ
                        %li
                          = link_to "#" do
                            カジュアルパンツ
                        %li
                          = link_to "#" do
                            ハーフパンツ
                        %li
                          = link_to "#" do
                            チノパン
                        %li
                          = link_to "#" do
                            ワークパンツ/カーゴパンツ
                        %li
                          = link_to "#" do
                            クロップドパンツ
                        %li
                          = link_to "#" do
                            サロペット/オーバーオール
                        %li
                          = link_to "#" do
                            オールインワン
                        %li
                          = link_to "#" do
                            サルエルパンツ
                        %li
                          = link_to "#" do
                            ガウチョパンツ
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        スカート
                      %ul
                        %li
                          = link_to "#" do
                            ミニスカート
                        %li
                          = link_to "#" do
                            ひざ丈スカート
                        %li
                          = link_to "#" do
                            ロングスカート
                        %li
                          = link_to "#" do
                            キュロット
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        ワンピース
                      %ul
                        %li
                          = link_to "#" do
                            ミニワンピース
                        %li
                          = link_to "#" do
                            ひざ丈ワンピース
                        %li
                          = link_to "#" do
                            ロングワンピース
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        靴
                      %ul
                        %li
                          = link_to "#" do
                            ハイヒール/パンプス
                        %li
                          = link_to "#" do
                            ブーツ
                        %li
                          = link_to "#" do
                            サンダル
                        %li
                          = link_to "#" do
                            スニーカー
                        %li
                          = link_to "#" do
                            ミュール
                        %li
                          = link_to "#" do
                            モカシン
                        %li
                          = link_to "#" do
                            ローファー/革靴
                        %li
                          = link_to "#" do
                            フラット/バレエシューズ
                        %li
                          = link_to "#" do
                            長靴/レインシューズ
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        ルームウェア/パジャマ
                      %ul
                        %li
                          = link_to "#" do
                            パジャマ
                        %li
                          = link_to "#" do
                            ルームウェア
                    %li
                      = link_to "#" do
                        レッグウェア
                      %ul
                        %li
                          = link_to "#" do
                            ソックス
                        %li
                          = link_to "#" do
                            スパッツ/レギンス
                        %li
                          = link_to "#" do
                            ストッキング/タイツ
                        %li
                          = link_to "#" do
                            レッグウォーマー
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        帽子
                      %ul
                        %li
                          = link_to "#" do
                            ニットキャップ/ビーニー
                        %li
                          = link_to "#" do
                            ハット
                        %li
                          = link_to "#" do
                            ハッチング/ベレー帽
                        %li
                          = link_to "#" do
                            キャップ
                        %li
                          = link_to "#" do
                            キャスケット
                        %li
                          = link_to "#" do
                            麦わら帽子
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        バッグ
                      %ul
                        %li
                          = link_to "#" do
                            ハンドバッグ
                        %li
                          = link_to "#" do
                            トートバッグ
                        %li
                          = link_to "#" do
                            エコバッグ
                        %li
                          = link_to "#" do
                            リュック/バックパック
                        %li
                          = link_to "#" do
                            ボストンバッグ
                        %li
                          = link_to "#" do
                            スポーツバッグ
                        %li
                          = link_to "#" do
                            ショルダーバッグ
                        %li
                          = link_to "#" do
                            クラッチバッグ
                        %li
                          = link_to "#" do
                            ポーチバッグ
                        %li
                          = link_to "#" do
                            ポーチ/バニティ
                        %li
                          = link_to "#" do
                            ボディバッグ/ウェストバッグ
                        %li
                          = link_to "#" do
                            マザーズバッグ
                        %li
                          = link_to "#" do
                            メッセンジャーバッグ
                        %li
                          = link_to "#" do
                            ビジネスバッグ
                        %li
                          = link_to "#" do
                            旅行用バッグ/キャリーバッグ
                        %li
                          = link_to "#" do
                            ショップバッグ
                        %li
                          = link_to "#" do
                            かごバッグ
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        アクセサリー
                      %ul
                        %li
                          = link_to "#" do
                            ネックレス
                        %li
                          = link_to "#" do
                            ブレスレット
                        %li
                          = link_to "#" do
                            バングル/リストバンド
                        %li
                          = link_to "#" do
                            リング
                        %li
                          = link_to "#" do
                            ピアス（片耳用）
                        %li
                          = link_to "#" do
                            ピアス（両耳用）
                        %li
                          = link_to "#" do
                            イヤリング
                        %li
                          = link_to "#" do
                            アンクルレット
                        %li
                          = link_to "#" do
                            ブローチ/コサージュ
                        %li
                          = link_to "#" do
                            チャーム
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        ヘアアクセサリー
                      %ul
                        %li
                          = link_to "#" do
                            ヘアゴム/シュシュ
                        %li
                          = link_to "#" do
                            ヘアバンド/カチューシャ
                        %li
                          = link_to "#" do
                            ヘアピン
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        小物
                      %ul
                        %li
                          = link_to "#" do
                            長財布
                        %li
                          = link_to "#" do
                            折り財布
                        %li
                          = link_to "#" do
                            コインケース/小銭入れ
                        %li
                          = link_to "#" do
                            名刺入れ/定期入れ
                        %li
                          = link_to "#" do
                            キーケース
                        %li
                          = link_to "#" do
                            キーホルダー
                        %li
                          = link_to "#" do
                            手袋/アームカバー
                        %li
                          = link_to "#" do
                            ハンカチ
                        %li
                          = link_to "#" do
                            ベルト
                        %li
                          = link_to "#" do
                            マフラー/ショール
                        %li
                          = link_to "#" do
                            ストール/スヌード
                        %li
                          = link_to "#" do
                            バンダナ/スカーフ
                        %li
                          = link_to "#" do
                            ネックウォーマー
                        %li
                          = link_to "#" do
                            サスペンダー
                        %li
                          = link_to "#" do
                            サングラス/メガネ
                        %li
                          = link_to "#" do
                            モバイルケース/カバー
                        %li
                          = link_to "#" do
                            手帳
                        %li
                          = link_to "#" do
                            イヤマフラー
                        %li
                          = link_to "#" do
                            かさ
                        %li
                          = link_to "#" do
                            レインコート/ポンチョ
                        %li
                          = link_to "#" do
                            ミラー
                        %li
                          = link_to "#" do
                            タバコグッズ
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        時計
                      %ul
                        %li
                          = link_to "#" do
                            腕時計（アナログ）
                        %li
                          = link_to "#" do
                            腕時計（デジタル）
                        %li
                          = link_to "#" do
                            ラバーベルト
                        %li
                          = link_to "#" do
                            レザーベルト
                        %li
                          = link_to "#" do
                            金属ベルト
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        ウィッグ/エクステ
                      %ul
                        %li
                          = link_to "#" do
                            前髪ウィッグ
                        %li
                          = link_to "#" do
                            ロングストレート
                        %li
                          = link_to "#" do
                            ロングカール
                        %li
                          = link_to "#" do
                            ショートストレート
                        %li
                          = link_to "#" do
                            ショートカール
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        浴衣/水着
                      %ul
                        %li
                          = link_to "#" do
                            浴衣
                        %li
                          = link_to "#" do
                            着物
                        %li
                          = link_to "#" do
                            振袖
                        %li
                          = link_to "#" do
                            長襦袢/半襦袢
                        %li
                          = link_to "#" do
                            水着セパレート
                        %li
                          = link_to "#" do
                            水着ワンピース
                        %li
                          = link_to "#" do
                            水着スポーツ用
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        スーツ/フォーマル/ドレス
                      %ul
                        %li
                          = link_to "#" do
                            スカートスーツ上下
                        %li
                          = link_to "#" do
                            パンツスーツ上下
                        %li
                          = link_to "#" do
                            ドレス
                        %li
                          = link_to "#" do
                            パーティバッグ
                        %li
                          = link_to "#" do
                            シューズ
                        %li
                          = link_to "#" do
                            ウェディング
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        マタニティ
                      %ul
                        %li
                          = link_to "#" do
                            トップス
                        %li
                          = link_to "#" do
                            アウター
                        %li
                          = link_to "#" do
                            インナー
                        %li
                          = link_to "#" do
                            ワンピース
                        %li
                          = link_to "#" do
                            パンツ/スパッツ
                        %li
                          = link_to "#" do
                            スカート
                        %li
                          = link_to "#" do
                            パジャマ
                        %li
                          = link_to "#" do
                            授乳服
                        %li
                          = link_to "#" do
                            その他
                    %li
                      = link_to "#" do
                        その他
                      %ul
                        %li
                          = link_to "#" do
                            コスプレ
                        %li
                          = link_to "#" do
                            下着
                        %li
                          = link_to "#" do
                            その他
                %li
                  = link_to "#" do
                    メンズ
                %li
                  = link_to "#" do
                    ベビー・キッズ
                %li
                  = link_to "#" do
                    インテリア・住まい・小物
                %li
                  = link_to "#" do
                    本・音楽・ゲーム
                %li
                  = link_to "#" do
                    おもちゃ・ホビー・グッズ
                %li
                  = link_to "#" do
                    コスメ・香水・美容
                %li
                  = link_to "#" do
                    家電・スマホ・カメラ
                %li
                  = link_to "#" do
                    スポーツ・レジャー
                %li
                  = link_to "#" do
                    ハンドメイド
                %li
                  = link_to "#" do
                    チケット
                %li
                  = link_to "#" do
                    自動車・オートバイ
                %li
                  = link_to "#" do
                    その他
        .nav-brand
          ブランド
      .nav-right
        - if user_signed_in?
          .nav-right__mypage
            = link_to "マイページ", "/users/#{current_user.id}", class: "nav-right__mypage-item"
          .nav-right__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-right__logout-item"
        - else
          .nav-right__login
            = link_to "ログイン", new_user_session_path, class: "nav-right__login-item"
          .nav-right__new
            = link_to "新規会員登録", new_user_registration_path, class: "nav-right__new-item"
