.header
  .header-content
    .header-block
      .header-block__logo
        = link_to "root_path", class: "header-block__logo-item" do
          = image_tag "logo.png", size: "140x40", alt: "ロゴ"
      .search
        = form_tag search_products_path method: :get do
          = text_field_tag :keyword, "", placeholder: "キーワードから探す", class: "form-box"
          = submit_tag "", class: "form-btn"
          = image_tag "icon-search 1.png", class: "form-icon"
    .nav-box
      .nav-left
        .nav-category
          %ul
            %li
              = link_to "カテゴリー"
              %ul
                - @categories.each do |parent|
                  %li
                    = link_to "#{parent.name}"
                    %ul  
                      - parent.children.each do |child|
                        %li  
                          = link_to "#{child.name}"  
                          %ul  
                            - child.children.each do |grandchild|
                              %li  
                                = link_to "#{grandchild.name}"
        .nav-brand 
          ブランド
      .nav-right
        - if user_signed_in?
          .nav-right__mypage
            = link_to "マイページ", user_path(current_user.id), class: "nav-right__mypage-item"
          .nav-right__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-right__logout-item"
        - else
          .nav-right__login
            = link_to "ログイン", new_user_session_path, class: "nav-right__login-item"
          .nav-right__new
            = link_to "新規会員登録", new_user_registration_path, class: "nav-right__new-item"
