
.wrapper
  .top-icon
    = image_tag "logo.png", class: "top-logo"
  .form
    = form_for [@product] do |f|
      #image-box
        #image-box__wrapper
          #img-fields
            = f.fields_for :product_images do |image|
              = image.label :product_image, "出品画像", class:"label"
              %span.attention 必須
              .img-attention 最大10枚までアップロードできます
              %div{class: "input-box__image"}
                .input-box__image__wrapper
              %div{class: "input-box__form"}
                %div.js-file_group{data: {index: "#{image.index}"}}
                  = image.file_field :url, class: "js-file"
              .img-btn
                %i.fas.fa-camera 
                  画像を選択
          - if @product.errors[:product_images].present?
            %div{class:"img-error"}
              = session[:img_error]
      #product-detail 
        #product-detail__wrapper
          =f.label :name, "商品名", class:"label"
          %span.attention 必須 
          %br
          =f.text_field :name, placeholder: "40文字まで", class:'form-box'
          = render partial: 'error-messages', locals: {product: f.object, column: 'name'}
          %br
          =f.label :description, "商品の説明", class:"label"
          %span.attention 必須
          %br
          =f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n例）去年の4月に2万円で購入したスニーカーです。傷などはありません。履きやすいのでおすすめです。", class:'form-box__exp'
          = render partial: 'error-messages', locals: {product: f.object, column: 'description'}
      .product-detail-info
        .product-detail-info__wrapper
          %h2 商品の詳細
          .product-detail-info__category
            =f.label :category, "カテゴリー", class: 'label', class:"label"
            %span.attention 必須
            .category-select-wrapper
              .category-select-wrapper__box
                =f.select(:category, @category_parents, {prompt: "選択して下さい"}, class: 'category-select-wrapper__box__select', id: 'parent_category')
                %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
              = render partial: 'error-messages', locals: {product: f.object, column: 'category'} 
          =f.label :brand, "ブランド ", class: 'label', class:"label"
          %span.burand-attention 任意
          %br
          =f.text_field :brand, placeholder: '例）エルメス', class:'form-box'
          %br
          =f.label :product_condition, "商品の状態", class:"label"
          %span.attention 必須
          .product-condition__box
            =f.collection_select(:product_condition_id, ProductCondition.all, :id, :product_condition, {prompt: "選択して下さい"}, {class:'form-box__bottom'})
            %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
          = render partial: 'error-messages', locals: {product: f.object, column: 'product_condition_id'}
      #derivery-info
        #derivery-info__wrapper
          %h2 配送について
          =f.label :derivery_fee_payer, "配送料の負担", class:"label"
          %span.attention 必須
          #derivery-info__wrapper__form
            =f.collection_select(:derivery_fee_payer_id, DeriveryFeePayer.all, :id, :derivery_fee_payer, {prompt: "選択して下さい"}, {class:'form-box'})
            %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
          = render partial: 'error-messages', locals: {product: f.object, column: 'derivery_fee_payer_id'}
          =f.label :derivery_method, "発送方法", class:"label"
          %span.attention 必須
          #derivery-info__wrapper__form
            =f.collection_select(:derivery_method_id, DeriveryMethod.all, :id, :name, {prompt: "選択して下さい"}, {class:'form-box'})
            %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
          = render partial: 'error-messages', locals: {product: f.object, column: 'derivery_method_id'}
          =f.label :ship_from_location, "発送元の地域", class:"label"
          %span.attention 必須
          #derivery-info__wrapper__form
            =f.collection_select(:ship_from_location_id, ShipFromLocation.all, :id, :name, {prompt: "選択して下さい"}, {class:'form-box'})
            %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
          = render partial: 'error-messages', locals: {product: f.object, column: 'ship_from_location_id'}
          =f.label :derivery_day, "発送までの日数", class:"label"
          %span.attention 必須
          #derivery-info__wrapper__form
            =f.collection_select(:derivery_day_id, DeriveryDay.all, :id, :derivery_day, {prompt: "選択して下さい"}, {class:'form-box'})
            %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
          = render partial: 'error-messages', locals: {product: f.object, column: 'derivery_day_id'}
      #product-price
        #product-price__wrapper
          #product-price__wrapper__top
            %h2 価格（¥300~9,999,999）
            .label-form
              .label-form__label
                =f.label :price, "販売価格", class:"label"
                %span.attention 必須
              .label-form__form
                %span ¥ 
                =f.number_field :price, placeholder: 0, class:'form-box', style:"text-align: right; "
                - if @product.errors[:price].present?
                  %div{class:"price-error"}
                    = session[:price_error]
          #product-price__wrapper--bottom
            =f.submit '出品する', class:"send-btn"
            =f.hidden_field :product_status_id, :value => 1
            = link_to '/products', class:"return-top", method: :get do
              もどる
